@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

//Primary
$strong-cyan: hsl(172, 67%, 45%);

//Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 24px;
    font-family: 'Space Mono', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $light-grayish-cyan;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.title{
    font-size: 1.65rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: $dark-grayish-cyan;
    text-align: center;
    margin-bottom: 50px;
}

.container{
    width: 900px;
    background-color: $white;
    border-radius: 15px;
    padding: 35px;
    display: flex;
    gap: 35px;
    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .input{
            position: relative;
            label{
                display: block;
                font-size: 0.9rem;
                color: $dark-grayish-cyan;
                margin-bottom: 5px;
            }
            input{
                background-color: $very-light-grayish-cyan;
                color: $very-dark-cyan;
                font-family: 'Space Mono', sans-serif;
                width: 100%;
                font-weight: 800;
                padding: 8px 15px;
                text-align: right;
                font-size: 1.25rem;
                border-radius: 5px;
                border: 2px solid transparent;
                cursor: pointer;
                transition: 0.3s ease;
                &::placeholder{
                    opacity: 0.5;
                }
            }
            input#people.error-border,
            input#bill.error-border{
                border: 2px solid red;
            }
            input#bill,
            input#people{
                &:hover{
                    border: 2px solid $strong-cyan;
                }
            }

            
            img{
                width: 15px;
                position: absolute;
                top: 40px;
                left: 15px;
            }
        }
        .error{
            .input__top{
                display: flex;
                justify-content: space-between;
                .error__msg{
                    font-size: 0.9rem;
                    color: red;
                    display: none;
                }
            }
        }
        .tip{
            .text{
                font-size: 0.8rem;
                margin-bottom: 5px;
                color: $dark-grayish-cyan;
            }
            .pct_buttons{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                .pct_btn{
                    width: 120px;
                    padding: 10px;
                    border-radius: 5px;
                    border: 2px solid transparent;
                    background-color: $very-dark-cyan;
                    color: $white;
                    font-size: 1.35rem;
                    font-family: 'Space Mono', sans-serif;
                    transition: 0.3s ease;
                    cursor: pointer;
                    &:hover{
                        background-color: $strong-cyan;
                        color: $very-dark-cyan;
                    }
                }
                .pct_btn.select{
                    background-color: $strong-cyan;
                    color: $very-dark-cyan;
                }
                .custom{
                    box-sizing: border-box;
                    width: 120px;
                    padding: 10px;
                    text-align: right;
                    font-family: 'Space Mono', sans-serif;
                    font-weight: 700;
                    font-size: 1.35rem;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: $very-light-grayish-cyan;
                    border: 2px solid transparent;
                    color: $very-dark-cyan;
                    outline: $strong-cyan;
                    caret-color: $strong-cyan;
                    &:hover,
                    &:active{
                        border: 2px solid $strong-cyan;
                    }
                    &::placeholder{
                        text-align: center;
                        opacity: 0.7;
                        color: $very-dark-cyan;
                    }
                }
            }
        }
    }
    .right{
        padding: 35px;
        width: 50%;
        background-color: $very-dark-cyan;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        .right__row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 32px;
            .tip__amount{
                .tip__title{
                    font-size: 1rem;
                    color: $white;
                }
                .tip__subtitle{
                    font-size: 0.8rem;
                    color: $dark-grayish-cyan;
                }
            }
            .price{
                .price__text{
                    font-size: 2.2rem;
                    color: $strong-cyan;
                }
            }
        }
        .reset_btn{
            padding: 12px;
            border-radius: 8px;
            border: none;
            background-color: $strong-cyan;
            color: $very-dark-cyan;
            font-family: 'Space Mono', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 800;
            opacity: 0.2;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 100px;
        }
        .reset_btn.active{
            opacity: 1;
        }
    }
}




@media screen and (max-width: 992px){
    body{
        display: block;
        height: 100%;
    }

    .title{
        margin-bottom: 0;
        padding: 32px;
    }
    
    .container{
        width: 100%;
        flex-direction: column;
        border-radius: 25px 25px 0 0;
        .left{
            width: 100%;
            gap: 40px;
            .tip{
                .pct_buttons{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }
        .right{
            width: 100%;
            .reset_btn{
                margin-top: 64px;
            }
        }
    }
}